*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#display{
    height: 45px;
    width: 150px;
    background-color: rgb(97, 202, 243);
    color: black;
    font-size: x-large;
    font-weight: 800;
    border-radius: 7px;
    border: solid 4px rgb(172, 168, 168);
    display: flex;
    align-items: center;
    justify-content: center;
}
