@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , serif;
    overflow-x: hidden;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}


body {
    height: 100vh;
    width: 100vw;
    font-size: 16px; 
}

/* Header's Styling Start */

header {
  width: 80%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section-one img {
  width: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container span {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 900;
}

.header-section-two ul {
  display: flex;
  gap: 0.5rem;
}

.header-section-two a {
  color: var(--gray);
  font-size: large;
  font-weight: 700;
}

.header-section-two a:hover {
  color: var(--link-color);
}

.header-section-three input[type="button"] {
  border: none;
  background-color: white;
  padding: 0.3rem 0.5rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
  font-size: larger;
  font-weight: 700;
  transition: all 0.3s 0.1ms linear;
}

.header-section-three input:hover {
  background-color: var(--link-color);
  cursor: pointer;
  transform: scale(1.01);
}

.header-section-four {
  display: none;
}

.header-section-four img{
    width: 40px;
}

@media (max-width: 899px) {
  .header-section-three,
  .header-section-two {
    display: none;
  }
  .header-section-four {
    display: block;
  }

  .logo-container span {
    font-size: 1.6rem;
    font-weight: 700;
  }
}

/* Header's Styling is Completed */

/* Hero Section Styling Started */
.hero-section {
  width: 100%;
}

.hero-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
  animation: heromove 1.5s ease 5ms 1 alternate forwards;
}

@keyframes heromove {
  0% {
    opacity: 0%;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.left-container-title {
  font-size: large;
  color: var(--link-color);
  font-weight: 700;
}

.left-container-heading {
  font-size: 2.5rem;
  color: var(--text-color);
}

.left-container-desc {
  font-size: larger;
}

.left-container-button-box {
  display: flex;
  gap: 1rem;
}

.left-container-button-box button {
  border: none;
  font-size: medium;
  font-weight: 700;
  padding: 0.8rem 0.6rem;
  color: white;
  border-radius: 0.5rem;
}

.left-container-start-button {
  background-color: var(--primary-color);
}

.left-container-tour-button {
  background-color: var(--gray);
}

.right-container {
  width: 50%;
}

.right-container img {
  width: 70%;
  object-fit: cover;
  border-radius: 1rem;
}

@media (max-width: 700px) {
  .right-container {
    display: none;
  }
  .left-container {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 1111px) {
  .left-container-title {
    font-size: larger;
    font-weight: 600;
  }

  .left-container-heading {
    font-size: 2.2rem;
  }

  .left-container-desc {
    font-size: larger;
  }

  .left-container-button-box {
    gap: 1rem;
    font-size: larger;
  }

  .left-container-button-box button {
    padding: 1rem 0.9rem;
  }

  .left-container{
    padding: 2rem;
  }
}

@media (max-width: 899px) {
  .header-section-three,
  .header-section-two {
    display: none;
  }
  .header-section-four {
    display: block;
  }

  .logo-container span {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .left-container {
    gap: 0.6rem;
  }
  .left-container-title {
    font-size: large;
    font-weight: 600;
  }

  .left-container-heading {
    font-size: 1.8rem;
  }

  .left-container-desc {
    font-size: medium;
  }

  .left-container-button-box {
    gap: 0.5rem;
  }

  .left-container-button-box button {
    padding: 0.5rem 0.4rem;
  }
}

/* Hero Section Styling Completed */


/*Cards & Company Section Style starts*/

#company-heading {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 0.6rem;
  font-size: xx-large;
}
.company-section {
  margin-top: 1rem;
  width: 100%;
}

.company-wrapper {
  width: 45%;
  background-color: #c7c3c3;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.8rem;
  justify-content: space-evenly;
  border-radius: 0.6rem;
  gap: 0.5rem;
}

.company-card {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.company-card img {
  width: 25px;
}

.company-card span {
  font-weight: 700;
  color: var(--text-color);
  font-size: large;
}

.cards-section {
  margin-top: 1rem;
  width: 100%;
  background-color: #f0f0f0;
  padding: 0.7rem 0;
}

.cards-section h1 {
  text-align: center;
  font-size: xx-large;
  color: var(--text-color);
}

.card-container-grid {
  display: grid;
  width: 50%;
  margin: 0 auto;
  grid-template-areas:
    "c1 c2"
    "c3 c4"
    "c5 c6";
    padding: 1rem;
    gap: 0.8rem;
}

.cards {
  text-align: center;
  transition: all 1s 1ms linear;
  box-shadow: 2px 2px 10px var(--gray);
  padding: 1rem;
  border-radius: 0.6rem;
  color: white;
}

.cards img {
  width: 45px;
}

.cards:hover {
  transform: translateY(-0.5rem);
  box-shadow: 3px 3px 7px var(--dark-gray);
}

.card1 {
  grid-area: c1;
  background-color: #0d3b66;
  border-top: 4px solid #f4d35e;
}
.card2 {
  grid-area: c2;
  background-color: #f76c6c;
  border-top: 4px solid #2a9d8f;
}
.card3 {
  grid-area: c3;
  background-color: #8a2be2;
  border-top: 4px solid #bada55;
}
.card4 {
  grid-area: c4;
  background-color: #2e4057;
  border-top: 4px solid #ffad60;
}
.card5 {
  grid-area: c5;
  background-color: #3eb489;
  border-top: 4px solid #de3163;
}
.card6 {
  grid-area: c6;
  background-color: #ff9933;
  border-top: 4px solid #7080c1;
}

@media (min-width: 1400px) {
  .card-container-grid{
    width: 70%;
    grid-template-areas:
      "c1 c2 c3"
      "c4 c5 c6"
    ;
    gap: 1rem;
  }
}


@media (max-width: 899px) {
  .header-section-three,
  .header-section-two {
    display: none;
  }
  .header-section-four {
    display: block;
  }

  .logo-container span {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .left-container {
    gap: 0.6rem;
  }
  .left-container-title {
    font-size: large;
    font-weight: 600;
  }

  .left-container-heading {
    font-size: 1.8rem;
  }

  .left-container-desc {
    font-size: medium;
  }

  .left-container-button-box {
    gap: 0.5rem;
  }

  .left-container-button-box button {
    padding: 0.5rem 0.4rem;
  }
  .card-container-grid{
    width: 70%;
    grid-template-areas:
      "c1"
      "c2"
      "c3"
      "c4"
      "c5"
      "c6"
    ;
    gap: 0.7rem;
  }
}

/*Cards & Company section style completed*/